<div>
    <h2 style="padding-bottom: 15px;">Adrenalin Code Exercise</h2>

    {% if value %}
        <span class ="demo-textfield" style="background-color:#{{ value }};font-size: 16px; padding: 8px;font-family: Arial, sans-serif;"  >{{ teststring }} </span >
        <p style="padding-top: 10px;">The HEX Value {{ value }} has been used in inline CSS to apply a background-color to the text field</p>
    {% endif %}
</div >